<div id="addIpResult" style="display:hidden"></div>
<% form_remote_tag :html => {:action => url_for(:controller => 'server_state', :action => 'add_ip'), :method => 'post', :id => 'form_add_ip'}, :update => 'bodyListIps', :url => url_for(:controller => 'server_state', :action => 'add_ip') do  -%>
<label for='newIp'>Nouvelle ip a autoriser : </label><%= text_field_tag 'newIp'-%><%= submit_tag 'Rajouter' %>
<% end -%>
